source https://www.nuget.org/api/v2

nuget NuGet.CommandLine
nuget Chessie 0.4.0 framework: >= net452
nuget MahApps.Metro.Resources 0.4.0.0 framework: >= net452
nuget Redux.NET 0.4.0 framework: >= net452
nuget squirrel.windows 1.2.5 framework: >= net452
nuget UnionArgParser 0.6.3 framework: >= net452
nuget xunit 2.1.0 framework: >= net452
nuget xunit.runner.visualstudio 2.1.0 framework: >= net452